<footer class="bg-dark">
    <div class="d-inline">
   <span class="aab"><a href="#">Home</a></span> 
    <span class="aab"><a href="#">Terms and Conditions</a></span>               
    <span class="aab"><a href="#">Privacy Policy</a></span>
    <span class="aab"><a href="#">Collection Statement</a></span>
    <span class="aab"><a href="#">Help</a></span>
    <span class="aab"><a href="#">Manage Account</a></span>
    </div>
    <br><br>
    <div class="text-white">
    Copyright <span class="glyphicon glyphicon-copyright">&copy;</span> 
    2021 DEMO Streaming. All rights Reserved.
    <br><br>
 

 
    </div>
    </footer>