  
@import url('https://fonts.googleapis.com/css?family=Tangerine');
.background
{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  background-image: url(../../assets/images/bg1.jpg);
  background-blend-mode: screen;
  position: fixed;
  background-position: center;
}

.center {  
  margin-top: 500px;
  

}
.space{
  width: 220px;
}
.text
{
  margin-left: 270px;
  position: fixed;
  text-align: center;
  color:black;
  font-family: 'Tangerine'; 
  font-size: 150px;
  text-shadow: 10px 10px 10px rgb(66, 65, 65);
  margin-top: 50px;
}
.music
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(255,255,255,.5);
    font-size: 20px;
    padding-top: 70px;
    padding-left: 20px;
    transition: transform 0.5s ease, border 0.5s ease;
}
  .music:hover {
    border: 2px solid #070707;
    transform: scale(1.3);
    box-shadow: 4px 4px 4px rgb(66, 65, 65);
  }
