<div class="bg-secondary text-white mar"> <h3>&nbsp;&nbsp;&nbsp;&nbsp;ABOUT US</h3></div>
<div class="bg">
    <div class="block d-inline-block wid2">

    </div>
    <div class="block d-inline-block wid">
        <b>
        We take health care personally at Keysight MedNet. 
        Because excellence in health care is about more than just medicine, technology, tests and treatments. 
        It is about really caring for people with dignity and respect. That’s what we do. 
        We are dedicated to providing the best care to meet the needs of people – for our community, for our patients -- for you.
        </b>
    </div>
    <div class="block d-inline-block wid2">

    </div>
    <div class="block d-inline-block">
        <img src="../../assets/images/nurse.jpg" class="imgwid">
    </div>