<div class="background">
    <div class="marginclass">
        <div class="block d-inline-block shadow-lg doctor" 
         onclick="document.getElementById('id01').style.display='block'">
            <div class="music">
            <span class="text-center"><b>DOCTOR</b></span>
            </div>
        </div>

        
        
            <div class="block d-inline-block shadow-lg patient"
            onclick="document.getElementById('id01').style.display='block'">
           
            <div class="music">
            <span class="text-center"><b>PATIENT</b></span>
            </div>
            </div>

            <div id="id01" class="modal">
  
                <form class="modal-content animate" name="form1" #form1="ngForm" [formGroup]="form" (ngSubmit)="submit(form1)">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
                  </div>
              
                  <div class="container">
                    <div>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname"  class="form-control" formControlName="uname">
              
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw"  class="form-control" formControlName="psw">
                      
                    <!--<button type="submit" routerLink="/welcome" [disabled]="(!psw.valid || !uname.valid)" >Login</button>-->
                    <button type="submit">
                      Login
                    </button>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                  </div>
                  </div>
              
                  <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                  </div>
                  <div>{{form1.value|json}}</div>
                </form>
              </div>
        
            <div class="block d-inline-block shadow-lg employee" 
            onclick="document.getElementById('id01').style.display='block'">
            
                <div class="music">
                <span class="text-center"><b>
                  <ul *ngFor="let doc of details">
                    <li> {{doc.name}} </li>
                  </ul>
                </b></span>
                </div></div>
        </div>
    </div>
